@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import "variables/_variables";
@import "mixins/_mixins";
@import "components/_form";
@import "components/_spinner";
@import "components/_modal";

/****  Upload Meme Section ****/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  background-color: $main-color;
  font-family: $main-font;
}

body {
  height: 100%;
}

.upload-pic-wrapper {
  margin-top: 1em;
  text-align: center;
}
.logo {
  max-width: 90px;
  max-height: 90px;
@media (max-width: $mobile-size) {
  max-height: 65px;
  max-width: 65px;
}
}

.upload-title {
  color: $white;
  margin: 12px 0;
  font-weight: lighter;
  font-size: 5vw;
  @media (max-width: $mobile-size) {
    & {
      margin: 20px 20px;
    }
  }
}

.upload-button {
  width: 26%;
  height: 90px;
  color: $main-color;
  padding: 6px;
  background-color: $white;
  font-family: $main-font;
  font-size: 32px;
  @include box-shadow;
  @media (max-width: $mobile-size) {
    font-size: 24px;
    width: 60%;
    margin-top: 40px;
  }
  @media (max-width: 330px) {
  margin-top: 0;
  }
}

/**** Random Meme Section ****/

.random-meme-page {
  .random-meme-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 100%;
  }
}

.random-pic-wrapper {
  margin-top: 50px;
  text-align: center;
  height: 150px;
  .logo-random {
    width: 100px;
    height: 100px;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .random-button {
    @include box-shadow;
    color: $main-color;
    background: $white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 300px;
    height: 85px;
    font-size: 32px;
    font-family: $main-font;
  }
}

.new-meme {
  text-align: center;
  height: 350px;
  margin-bottom: 45px;
  .memes {
    max-height: 100%;
    max-width: 100%;
    margin: 105px auto;
  }
}
