@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import "variables/_variables";
@import "mixins/_mixins";
@import "components/_form";
@import "components/_spinner";
@import "components/_modal";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  background-color: $main-color;
  font-family: $main-font;
}

.random-meme-page {
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }

}

body {
  height: 100%;
  margin-bottom: 0;
}

/** {
  border: 1px solid gold;
}*/

.pic-wrapper {
  margin-top: 50px;
  text-align: center;
  /*@media (max-width: $mobile-size) {
    margin: 10% auto;
  }*/
}
img {
  max-width: 70px;
  max-height: 70px;
  @media (max-width: $mobile-size) {
    max-height: 60px;
    max-width: 60px;
  }
}

h1 {
  color: $white;
  margin: 20px 0;
  font-weight: lighter;
  font-size: 5vw;
  //font-size: calc(3.5vw + 2vh + 1.5vmin);
  @media (max-width: $mobile-size) {
    & {
      margin: 20px 20px;
    }
  }
}

button {
  width: 26%;
  height: 100px;
  color: $main-color;
  padding: 8px;
  background-color: $white;
  font-family: $main-font;
  font-size: 32px;
  @include box-shadow;
  @media (max-width: $mobile-size) {
    font-size: 24px;
    width: 60%;
    margin-top: 40px;

  }
}

/* todo:
fix the inputs inner-lining
*/





/*** random meme section */

.pic-wrapper {
  margin-top: 50px;
  text-align: center;
  img {
    width: 70px;
    height: 70px;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    @include box-shadow;
    color: $main-color;
    background: $white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 280px;
    height: 70px;
    font-size: 28px;
    font-family: $main-font;
  }
}

.spinner {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  color: $main-color;
}

.new-meme {
  text-align: center;
  height: 350px;
  margin-bottom: 45px;
  .memes {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}


